@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-mainbg text-slate-900 font-body antialiased;
}

#root {
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #e2e8f0;
}
